node_modules
.env
.env.*
!.env.example
dist

/src/generated

# Lock Files
pnpm-lock.yaml
yarn.lock
package-lock.json
skills-lock.json
pnpm-workspace.yaml
.vscode

.agents/
.claude/
.windsurf/
.kilo/

/generated/prisma
node_modules/
dist/

/../src/generated/prisma

.vercel
